[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "alacritty_themes/catppuccin"]
	path = alacritty_themes/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
